<template name="new_post">
  <div class="col-md-6">{{>post_form}}</div>
</template>

<template name="post_form">
  <form class="post_form">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" value="{{title}}">
    </div>
    <div class="form-group">
      <label>Content</label>
      <textarea name="content" class="form-control" value="{{content}}"></textarea>
    </div>
    <input type="hidden" name="_id" value="{{_id}}">
    <button class="btn btn-primary">
      {{#if _id}}
        Update
      {{else}}
        Add Post
      {{/if}}
    </button>
  </form>
</template>